form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1rem;
}

button {
  padding: 10px;
  font-size: 1rem;
  background-color:green;
  color: white;
  border: none;
  cursor: pointer;
}
.contact-container{
  border: 1px solid black;
  padding: 30px;
  margin: auto;
  margin-top: 110px;
  width:600px;
}
