header h1 {
    font-size: 2rem;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    margin:4px
  }
  nav{
    margin-left: 1300px;
  }
  nav ul li a:hover {
    text-decoration: underline;
  }
  .flex1{
    display: flex;
    flex-direction: row;
  }
  