.App {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #282c34;
  padding: 10px;
  color: white;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

footer {
  background-color: #282c34;
  color: white;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
